<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acabados y Remodelaciones Arquitectónicas S.A.S.</title>
</head>
<body>  
  <h1 class="titulo">Quienes Somos</h1>
  <div class="datos">    
      <p>Empresa especializada en diseños personalizados y exclusivos, en el área de la construcción, 
        remodelación y acabados. Atendemos proyectos que incluyen obra gris , 
        blanca hasta decoración de interiores.</p>
      <p>Brindamos a nuestros clientes asesoría personalizada para que logre 
        diseños exclusivos acorde a sus sueños y requerimientos en el momento de remodelar 
        o crear nuevos espacios.</p>        
      <p>Gestionamos todas las etapas de proyectos de construcción y arquitectura, 
        empezando con la cotización y asesoría, donde se analiza los requerimientos del 
        proyecto, pasando por la obra gris, inclusive reforma civil, por ejemplo: tumbar muros, 
        reformas de plomería, reformas eléctricas, reformas  en instalaciones de gas, entre otros;
        hasta lo referente con obra blanca, como colocación de cielo falso, instalacion de drywall, 
        estuco, pintura, iluminacion, fabricacion de cocinas y muebles en RH, mesones en diferentes 
        materiales como cuarzón, mármol, acero inoxidable, todo lo anterior en interiores y exteriores; 
        Finalmente asistimos al cliente con el diseño de interiores para lograr ambientes modernos y cálidos.</p>
  </div>
</body>
</html>
