<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acabados y Remodelaciones Arquitectónicas S.A.S.</title>
</head>
<body>  
  <h1 class="titulo">Quienes Somos</h1>
  <div class="datos">    
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error quis quidem laboriosam voluptate corrupti cupiditate nostrum animi amet pariatur ea cumque voluptas natus accusantium, reprehenderit iste soluta deleniti hic!</p>
  </div>
</body>
</html>
