*{
    margin: 0;
    padding: 0;
  }

  .titulo{    
    width: 100%;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.3em grey;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;  
  }
  
  .datos{
    justify-content: center;
    width: 100%;
    margin: 20px;
  }