<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>  
  <h1 class="titulo">Háblanos, pregunta y cotiza nuestros servicios</h1>
  <div class="datosContacto">    
      <ul class="nombre">
        <li>
          <a >Teléfono/Whatsapp:</a>
        </li>    
        <li>
          <a href="https://api.whatsapp.com/send?phone=573012698782&text=buenos días" target="_blank">3012698782</a>
        </li> 
      </ul>
      <ul class="nombre">
        <li>
          <a style="margin-right: 10px;">Correo:</a>
        </li>   
        <li>
          <a>acabadosyreformasarq@gmail.com</a>
        </li> 
      </ul>
      <ul class="nombre">
        <li>
          <a style="margin-right: 10px;">Dirección:</a>
        </li>    
        <li>
          <a>Carrera 42 #40DD Sur - 09 Interior 201</a>
        </li>
      </ul>
      <ul class="nombre">
        <li>
          <a>Envigado - Antioquia</a>
        </li>  
      </ul>  
  </div>
</body>
</html>
