<div class="imagenfondo">
  <img src="/assets/LogoFondo.jpeg" alt="logo">
</div>
<h1 class="titulo1">¡Háblanos!</h1>
<h1 class="titulo2">Pregunta y cotiza nuestros servicios.</h1>
<div class="datosContacto">    
    <ul class="nombre">
      <li>
        <a class="nombreLinea">Celular/Whatsapp:</a>
      </li>    
      <li>
        <a href="https://api.whatsapp.com/send?phone=573012698782&text=buenos días" target="_blank">3012698782</a>
      </li> 
    </ul>
    <ul class="nombre">
      <li>
        <a class="nombreLinea">Correo:</a>
      </li>   
      <li>
        <a>acabadosyreformasarq@gmail.com</a>
      </li> 
    </ul>
    <ul class="nombre">
      <li>
        <a class="nombreLinea">Dirección:</a>
      </li>    
      <li style="text-align: center;">
        <a>Carrera 42 #40DD Sur - 09 Interior 201</a>
      </li>
    </ul>
    <ul class="nombre">
      <li>
        <a>Envigado - Antioquia</a>
      </li>  
    </ul>  
    <ul class="nombre">
      <li>
        <div class="icons8-facebook-nuevo"></div>
      </li>    
      <li>
        <a>acabadosyreformasarq</a>
      </li>
    </ul>
    <ul class="nombre">
      <li>
        <div class="icons8-instagram"></div>
      </li>    
      <li>
        <a>@acabadosyreformasarq</a>
      </li>
    </ul>
</div>
