<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acabados y Remodelaciones Arquitectónicas S.A.S.</title>
</head>
<body>  
  <h1 class="titulo">Nuestra misión</h1>
  <div class="datos">    
      <p>Ser una empresa transformadora en la región antioqueña, comprometida en realizar proyectos que 
        brinden felicidad a nuestros clientes.</p>
  </div>
  <h1 class="titulo">Nuestra visión</h1>
  <div class="datos">    
      <p>Somos una empresa especializada en acabados y reformas arquitectónicas. Buscamos la mayor 
        satisfacción de nuestros clientes, entregando proyectos diferenciadores y con gran calidad.</p>
  </div>
</body>
</html>

