<div class="imagenfondo">
    <img src="/assets/LogoFondo.jpeg" alt="logo">
  </div>
<div class="mensaje">
    <p class="texto">{{this._titulo}}</p>
</div>
<div class="mensaje2" *ngIf="_textoServicio == true">
    <p class="texto2">{{this._servicios}}</p>
</div>
<div>
    <section *ngIf="_rodillo == false" class="padre">
        <div class="imagen-grande">
            <img [src]="_listaImagenes[0]" [alt]="_listaImagenes[0]">
        </div>        
        <div class="imagen-grande">
            <img [src]="_listaImagenes[1]" [alt]="_listaImagenes[1]">
        </div>        
        <div class="imagen-grande">
            <img [src]="_listaImagenes[2]" [alt]="_listaImagenes[2]">
        </div>
    </section>
    <section *ngIf="_rodillo == false" class="padre">
        <div class="imagen-grande">
            <img [src]="_listaImagenes[3]" [alt]="_listaImagenes[3]">
        </div>        
        <div class="imagen-grande">
            <img [src]="_listaImagenes[4]" [alt]="_listaImagenes[4]">
        </div>        
        <div class="imagen-grande">
            <img [src]="_listaImagenes[5]" [alt]="_listaImagenes[5]">
        </div>
    </section>
</div>
<a target="blank" href="https://api.whatsapp.com/send?phone=573012698782&text=buenos días" 
    title="Whatsapp" class="Whatsapp">
    <div class="icons8-whatsapp"></div>
</a>    
<div *ngIf="_rodillo == true" class="rodillo">
    <img src="/assets/icons8-rodillo.gif" alt="rodillo">
</div>
