<div class="mensaje" style="position: relative;">
    <p class="texto">Titulo</p>
</div>
<section class="padre">
    <img class="imagen-grande" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
    <section class="centro">
        <section class="hijo">
            <img class="imagen-pequenia" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
            <img class="imagen-pequenia" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
        </section>   
        <section class="hijo">
            <img class="imagen-pequenia" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
            <img class="imagen-pequenia" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
        </section>       
    </section>
    <img class="imagen-grande" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">    
</section>
<section class="padre">
    <img class="imagen-grande" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
    <img class="imagen-grande" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
    <img class="imagen-grande" src="\assets\LogoAcabadosyReformas.jpeg" alt="Foto">
</section>
